.DS_Store
node_modules/
package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# mochawesome
/public
index.json
cypress/results/
cypress/videos/
cypress/screenshots/